$amount-of-columns: 12 !default;

.grid {
  display: grid;

  &-cols-auto {
    grid-auto-columns: auto;
  }

  &-cols-none {
    grid-template-columns: none;
  }

  &-cols-subgrid {
    grid-template-columns: subgrid;
  }

  @for $i from 1 through $amount-of-columns {
    &-cols-#{$i} {
      grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
    }
  }

  &-col {

    &-auto {
      grid-column: auto;
    }

    &-start {

      &-auto {
        grid-column-start: auto;
      }

      @for $i from 1 through $amount-of-columns {
        &-#{$i} {
          grid-column-start: #{$i};
        }
      }
    }

    &-end {

      &-auto {
        grid-column-end: auto;
      }

      @for $i from 1 through $amount-of-columns {
        &-#{$i} {
          grid-column-end: #{$i + 1};
        }
      }
    }
  }
}
